.section-intro {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.15);
  }

  .container {
    max-width: 1000px;
  }

  .waver-demo {
    display: flex;
    flex-wrap: wrap;
    background: rgba(186, 186, 186, 0.42);
    position: relative;
  }

  .waver-item {
    width: 20px;
    height: 20px;
    margin: 20px 10px 0;
    background: rgba(255, 255, 255, 0.4);
    transition: .5s;

    &.active {
      background: rgba(255, 255, 255, 1);
    }
  }
}

.GSAP {
  height: 30px;
  width: 30px;
  background: green;
  position: absolute;
}
